@font-face {
    font-family: 'robotoregular';
    src: url('/resources/roboto.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
 scroll-behavior: smooth;
}

body
{
background-color: #000000;
}

.blayer
{
position: absolute;
top: 47rem;
left: 0;
padding-right: 100%;
padding-bottom: calc(34rem + 25vw);
z-index: 2;
background: #000000;
}

.topimg
{
position: sticky;
z-index: 1;
top: 25vh;
margin-bottom: 35rem;
width: 90%;
max-height: 400px;
}

#projects {
scroll-margin-top: 6rem;
}

p
{
color: white;
background-color: #000000;
font-size: calc(1rem + 0.3vi);
line-height: 1.55;
}

.projects
{
display: inline-flex;
text-align: left;
overflow: hidden;
position: relative;
border-radius: 10px;
border: 2px solid #3c3c3c;
width: 60%;
max-width:30rem;
min-width: 22rem;
height: calc(6rem + 3vw);
min-height: 8rem;
max-height: 10rem;
margin-top: 1rem;
margin-left: 1rem;
margin-right: 1rem;
padding-left: calc(8rem + 2vw);
z-index: 3;
background-color: #000000;
transition: 1s;
align-items: center;
}
.projects:hover
{
border: 2px solid white;
transition: 0.2s;
}
.projects-title
{
font-size: calc(1.2rem + 0.3vi);
}
.projects p
{
font-size: calc(0.9rem + 0.3vi);
}
.projectthumb
{
position: absolute;
top: 0;
left: 0;
max-width: 100%;
max-height: 100%;
object-fit: contain;
}

.announcements
{
text-align: left;
position: relative;
background-color: #000000;
border-radius: 10px;
border: 2px solid #3c3c3c;
top: 4rem;
margin-left: 1.2rem;
margin-right: 1.2rem;
padding-left: 5px;
padding-right: 5px;
z-index: 3;
height: 14rem;
transition: 1s;
}
.announcements:hover
{
border: 2px solid white;
transition: 0.2s;
}

.about
{
text-align: left;
position: relative;
background-color: #000000;
border-radius: 10px;
border: 2px solid #3c3c3c;
top: 10rem;
margin-left: 7vw;
margin-right: 7vw;
z-index: 3;
}
.aboutpic
{
position: absolute;
left: calc(7.5rem + 2.5vw);
top: calc(2.8rem + 1.5vw);
height: 2.2rem;
}

.antext
{
font-size: calc(0.9rem + 0.3vi);
line-height: 1.55;
text-align: left;
position: relative;
background-color: #000000;
border-radius: 10px;
margin-top: 0.6rem;
margin-bottom: 4rem;
padding-right: 0.5rem;
padding-left: 0.5rem;
}
.antitle
{
color: #CCCCFF;
position: relative;
display: inline;
font-size: calc(1.4rem + 0.3vi);
left: 0.5rem;
}
.andate
{
top: -0.6rem;
font-size: calc(0.9rem + 0.4vi);
color: grey;
position: relative;
display: inline-block;
}

.pcback {
top: 5px;
width: 50px;
margin: 10px;
position: relative;
display: inline-block;
transition: 0.3s;
}
.pcback:hover {
transform: rotate(-60deg);
}

.mobilecont {
position: sticky;
top: 0;
z-index: 5;
background-color: black;
}
.mobilecont-content {
display: flex;
height: 200px;
justify-content: center;
transition: height 0.4s ease;
margin-bottom: 15rem;
margin-top: 10rem;
}
.mobilecont-image {
max-width: 90%;
}
.mobilecont.sticky .mobilecont-content {
height: 100px;
}

.pageimg {
max-width: 20rem;
margin-top: 2rem;
}
.pagetitle
{
color: #CCCCFF;
font-size: calc(1.4rem + 0.3vi);
}
.pagetext
{
text-align: left;
}
.pageback-mobile
{
display: flex;
height: 200px;
justify-content: center;
background-color: black;
height: 60px;
}